.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @include respond(phone) {
    grid-template-columns: repeat(2, 1fr);
  }

  &__image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem;
    transition: all 0.2s;
    outline-offset: 0.5rem;

    &:hover {
      outline: 0.5rem solid $color-primary;
      transform: scale(1.05) translateY(-1.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
    }
  }
}
